@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

:root{
  --transition-duration: 0.3s;
  --transition-function: ease-in-out;
}

.todo-list-header {
  font-family: "Yuji Mai", sans-serif;
}

.expand {
  cursor: pointer;
  transition-property: transform;
}

.expand.close {
  transform: rotate(180deg);
}

.task-card {
  height: 100px;
  transition-property: height;
}

.task-card.show {
  height: 100%;
}

.expand, .task-card {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

form {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px){
  form {
    max-width: 800px;
  }
}